$primary_dark_color: #0E141B;
$secondary_dark_color: #1B2128;
$primary_white_color: #F7F8F8;
$secondary_white_color: #FFFFFF;
$purple_color: #E341FD;
$grey_color: #6B6B6B;

@mixin xl_text {
    font-size: 36px;
}
@mixin lg_text {
    font-size: 24px;
}
@mixin md_text {
    font-size: 20px;
}
@mixin sm_text {
    font-size: 18px;
}
@mixin xs_text {
    font-size: 16px;
}



html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // background-color: $primary_white_color;
}
:root[data-theme="light"] {
    --primary_color: #F7F8F8;
    --secondary_color: #FFFFFF;
    --negative_primary_color: #0E141B;
    --negative_secondary_color: #1B2128;
    --filter: none;
    --icon_filter: grayscale(98%) saturate(99%) contrast(1000%) invert(100%);
    --light: url("./resources/light.png");
}

:root[data-theme="dark"] {
    --primary_color: #0E141B;
    --secondary_color: #1B2128;
    --negative_primary_color: #F7F8F8;
    --negative_secondary_color: #FFFFFF;
    --filter: invert(100%) grayscale(100%);
    --light: url("./resources/moon.png");
}

body {
    background: var(--primary_color);
}
#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
}

.container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
    border: 0;
    background: transparent;
    
}